.main-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 500px;
}

.main-contact > div {
  margin-bottom: 4rem;
}

.main-contact > div > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #000000;
  font-weight: 200;
}

@media (max-width: 900px) {
  .main-contact {
    height: 300px;
  }

  .main-contact > div > p {
    font-size: 1.4rem;
  }

}

@media (max-width: 430px) {
  .main-contact {
    height: 200px;
  }

  .main-contact > div:first-child {
    margin-bottom: 1.4rem;
  }

  .main-contact > div > p {
    font-size: 1.1rem;
  }
}
