.main-footer {
  background-color: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer > div:first-child {
  padding: 1.4rem 3rem;
}

.wrapper-info-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem  3rem;
  width: 100%;
}

.wrapper-info-footer > p {
  color: #ffffff;
}

.wrapper-info-footer > div:first-of-type p:first-of-type {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.wrapper-info-footer > div:first-of-type p:not(:first-of-type),
.wrapper-info-footer > p:first-of-type, .main-footer > p:last-child  {
  font-size: 1rem;
  font-weight: 200;
  color: #ffffff;
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-social-links > p {
  margin-bottom: 0.8rem;
  color: #ffffff;
}

.wrapper-social-links > div {
  display: flex;
  align-items: center;
  
  gap: 1rem;
}

.main-footer > p:last-child {
  width: 100%;
  padding: 1.2rem 0px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}

@media (max-width: 900px) {
  .main-footer > p:last-child {
    padding: 0.8rem 0px;
    font-size: 0.8rem;
  }

  .wrapper-social-links > p {
    font-size: 0.8rem;
    margin-bottom: 0.6rem;
  }

  .wrapper-info-footer > div:first-of-type p:first-of-type {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }


  .wrapper-info-footer > div:first-of-type p:not(:first-of-type),
  .wrapper-info-footer > p:first-of-type, .main-footer > p:last-child  {
    font-size: 0.8rem;
  }
}

@media (max-width: 360px) {
  .main-footer > p:last-child {
    padding: 0.6rem 0px;
    font-size: 0.7rem;
  }

  .wrapper-social-links > p {
    font-size: 0.7rem;
    margin-bottom: 0.6rem;

  }

 .wrapper-info-footer > div:first-of-type p:first-of-type {
    font-size: 1rem;
    margin-bottom: 0.2rem;

  }

  .wrapper-info-footer > div:first-of-type p:not(:first-of-type),
  .wrapper-info-footer > p:first-of-type, .main-footer > p:last-child  {
    font-size: 0.6rem;
  }

  .main-footer > div:first-child {
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0px;
  }

  .main-footer > div:first-child > button {
    display: none;
  }

  .wrapper-info-footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .wrapper-info-footer > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .wrapper-info-footer > div:last-child {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
}


