.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem  0px;
  width: 100%;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  gap: 4rem
}

.nav-menu {
  font-size: 1.3rem;
  font-weight: 200;
  color: #ffffff;
}

.nav-menu p {
  cursor: pointer;
  font-weight: 200;
  transition: font-weight 0.3s ease;
}

.nav-menu p.active {
  font-weight: 500;
}

.main > button:last-child {
  display: none;
}

@media (max-width: 900px) {
  .main {
    padding: 1rem 0px;
  }

  .nav-menu {
    font-size: 1rem;
    font-weight: 200;
  }
}

@media (max-width: 360px) {
  .main {
    padding: 0px;
  }

  .nav-menu {
    display: none;
  }

  .main > button {
    display: none;
  }

  .main > button:last-child {
    display: block;
    text-decoration: none;
    background-color: transparent;
    border: none;
  }
}