.main {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem  0px;
  width: 100%;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  gap: 4rem
}

.nav-menu {
  font-size: 1.3rem;
  font-weight: 200;
  color: #ffffff;
}

.nav-menu p {
  cursor: pointer;
  font-weight: 200;
  transition: font-weight 0.3s ease;
}

.nav-menu p.active {
  font-weight: 500;
}

.main > button:last-child {
  display: none;
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #262626;
  padding: 1rem;
  top: 0px;
  width: 100%;
  height: 90vh;
  z-index: 1000;
  animation: slideDown 0.3s ease-in-out forwards;
}

.dropdown-menu > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;
}

.dropdown-menu p {
  margin: 0.5rem 0 !important;
  font-size: 1.1rem !important;
  font-weight: 300 !important;
  color: white !important;
  cursor: pointer;
  border: none !important;
}

.dropdown-menu > button {
  margin-top: 2rem;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 900px) {
  .main {
    padding: 1rem 0px;
  }

  .nav-menu {
    font-size: 1rem;
    font-weight: 200;
  }
}

@media (max-width: 380px) {
  .main {
    padding: 0px;
  }

  .nav-menu {
    display: none;
  }

  .main > button {
    display: none;
  }

  .main > button:last-child {
    display: block;
    text-decoration: none;
    background-color: transparent;
    border: none;
  }

  .menu-toggle {
    display: block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    z-index: 1001;
  }

}