.wrapper-one {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrapper-one .bg-video,
.wrapper-one .bg-fallback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.wrapper-one .bg-fallback {
  display: none;
  background-image: url('/SVG/imageHomeBackgroundTop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper-one .overlay-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
     rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.8) 100%
    );
   z-index: 1;
   padding: 5rem;
   padding-top: 0px;
}

.wrapper-one .overlay-top > * {
  position: relative;
  z-index: 2;
}

.wrapper-one > .overlay-top > div:nth-child(2) p:first-child {
  color: #CA8A2A;
}

.wrapper-one > .overlay-top > div:nth-child(2) p {
  font-size: 1.8rem;
  font-weight: 200;
  color: #ffffff;
}

.wrapper-two {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  padding: 5rem;
  background-color: #ffffff;
}

.wrapper-two > div:first-child > p {
  font-size: 4rem;
  color: #000000;
  font-weight: 200;
}

.wrapper-two > div:first-child > p:first-child {
  font-size: 6rem;
  font-weight: 300;
  color: #CA8A2A;
  padding: 0px;
  margin: 0px;
}

.wrapper-vector {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 1000px;
  padding: 7rem 4rem;
  background-color: #ffffff;
}

.wrapper-invest {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/SVG/imageInvest.svg');

  width: 100%;
  height: 1000px;
  color: white;
  overflow: hidden;
}

.wrapper-invest .overlay-invest {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5rem;
}

.wrapper-invest > .overlay-invest > p {
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: 200;
}

.wrapper-legacy {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 660px;
  padding: 6rem;
  color: white;
  overflow: hidden;
}

.bg-video,
.bg-fallback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.bg-fallback {
  display: none;
  background-image: url('/images/imageLegacy.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper-legacy .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0,0,0,0) 30%, rgba(0,0,0,0.4)) 70%;
  z-index: 1;

  display: flex;
  align-items: center;
  padding: 6rem;
}

.overlay-content {
  transform: translateY(0);
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  padding-top: 50px;
}

.overlay-content.animate-project {
  transform: translateY(-50px);
  opacity: 1;
}

.wrapper-legacy > .overlay > div {
  margin-left: auto;
  position: relative;
  z-index: 2;
  max-width: 660px;
  text-align: left;

  opacity: 0;
  animation: fadeUp 1s ease-out forwards;
  animation-delay: 0.3s;
}

.wrapper-legacy > .overlay  > div > p {
  font-size: 1.8rem;
  color: #FFFFFF;
  font-weight: 300;
}

.wrapper-legacy > .overlay  > div >  div {
  padding: 1.1rem 0px;
}

.wrapper-legacy > .overlay  > div >  div > p {
  font-size: 1.2rem;
  color: #FFFFFF;
  font-weight: 200;
}

.wrapper-legacy > .overlay  > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;  text-decoration: none;
  background-color: transparent;
  border: solid 1px  #CA8A2A;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  font-weight: 200;
  margin-top: 2rem;
    color: #FFFFFF;

  gap: 10px
}

.wrapper-quality {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  background-color: #ffffff;
  font-size: 3.4rem;
  font-weight: 200;
  position: relative;
  z-index: 1;
  position: relative;
  height: 600px;
  overflow: hidden;
  background-color: #ffffff;
  color: #000000;
}

.wrapper-project {
  position: absolute;
  top: 75%;
  left: 50%;
  background-image: url('/SVG/imageProject.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 3.4rem;
  font-weight: 200;
  color: white;

  opacity: 1;
  z-index: 10;
  transition: all 0.1s ease-out;
}

.enterprise-vahlis {
  height: 400px;
  padding: 5rem;
  background-color: #ffffff;
}

.enterprise-vahlis > p {
  text-align: center;
  color: #000000;
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 5rem;
}

.enterprise-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 20px;
}

.logo-img {
  width: 150px;
  height: 100px;
  object-fit: contain;
}

.say-vahlis {
  width: 100%;
  height: 500px;
  padding: 5rem;
  background-color: #ffffff;
  padding-top: 0px;
}

.say-vahlis > p {
  color: #CA8A2A;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

.testimonial-slide {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  height: 100%;
}

.testimonial-slide p:first-child {
  font-size: 1.1rem;
  margin-bottom: 5px;
  font-weight: 400;
  color: #00000061
}

.testimonial-slide div {
  background-color:  #CA8A2A;
  height: 1px;
  margin-bottom: 10px;
}

.testimonial-slide p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
}

.divisor-solid {
  background-color: #D9D9D9;
  height: 2px;
  width: 100%;
  margin-bottom: 5rem;
}

.wrapper-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 860px;
  background-color: #ffffff;
  padding: 5rem;
}

.wrapper-data > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 8rem;
}

.wrapper-data > div > div > p {
  color: #000000;
}

.wrapper-data > div > div p:nth-child(odd) {
  font-weight: 300;
  font-size: 5rem;

}

.wrapper-data > div > div p:nth-child(even) {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

.image-wrapper-rect {
  width: 1200px;
  height: 720px;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.image-contain {
  width: 100%;
  height: 100%;
}

@media (max-width: 1336px) {
  .wrapper-one {
    height: 100vh;
  }

  .wrapper-vector {
    height: 800px;
  }

  .wrapper-invest {
    height: 800px;
  }

  .wrapper-legacy {
    height: 560px;
  }

  .wrapper-data {
    flex-direction: row;
    height: 660;
  }

  .wrapper-data > div:last-child {
    padding: 2rem 1rem;
    width: 20%;
  }

  .wrapper-data > div  > div p:nth-child(odd) {
    font-size: 4rem;
  }

  .wrapper-data > div  > div p:nth-child(even) {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .image-wrapper-rect {
    width: 75%;
    height: auto;

    aspect-ratio: 1200 / 700;
  }

  .divisor-solid {
    margin-bottom: 3rem;
  }
}

@media (max-width: 900px) {
  .wrapper-one .overlay-top {
    padding: 3rem;
    padding-top: 0px;
  }

  .wrapper-one {
    height: 100vh;
  }

  .wrapper-one > .overlay-top > div:nth-child(2) p {
    font-size: 1.4rem;
  }

  .wrapper-two > div:first-child > p {
    font-size: 2.8rem;
    color: #000000;
    font-weight: 200;
  }

  .wrapper-vector {
    height: 600px;
  }

  .wrapper-invest {
    height: 600px;
  }

  .wrapper-invest > .overlay-invest {
    padding: 3rem;
  }

  .wrapper-invest > .overlay-invest > p {
    font-size: 1.4rem;
  }

  .wrapper-legacy {
    height: 380px;
  }
  
  .wrapper-legacy > .overlay  > div > p {
    font-size: 1.2rem;
  }

  .wrapper-legacy > .overlay  > div >  div {
    padding: 0.6rem 0px;
  }

  .wrapper-legacy > .overlay  > div >  div > p {
    font-size: 0.8rem;
  }

 .wrapper-legacy > .overlay  > div > button {
    border-radius: 10px;
    padding: 0.6rem 1rem;
    margin-top: 1rem;
  }

  .wrapper-quality {
    height: 300px;
  }

  .wrapper-quality > p, .wrapper-project > p {
    font-size:  2rem;
  }

  .wrapper-data {
    padding: 3rem;
    gap: 1.5rem;
    height: 450px;
  }

  .wrapper-data > div:last-child {
    width: 20%;
    padding: 1rem;
  }

  .wrapper-data > div > div {
    align-self: flex-start;
  }

  .wrapper-data > div > div p:nth-child(odd) {
    font-size: 3rem;
  }

  .wrapper-data > div  > div  p:nth-child(even) {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .image-wrapper-rect {
    width: 75%;
    height: auto;
  }

  .enterprise-vahlis {
    height: 300px;
    padding: 3rem;
  }

  .enterprise-vahlis > p:first-child {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }

  .enterprise-slide  > img {
    width: 110px;
  }

  .say-vahlis {
    height: 380px;
    padding: 3rem;
    padding-top: 0px;
  }

  .say-vahlis > p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 360px) {
  .wrapper-one {
    height: 96vh;
  }

  .wrapper-one .overlay-top {
    padding: 1rem;
  }

  .wrapper-one > .overlay-top > div:nth-child(2) p {
    font-size: 1rem;
    font-weight: 200;
    color: #ffffff;
  }

  .wrapper-two {
    padding: 1rem;
    height: 200px;
  }

  .wrapper-two > div:first-child > p:first-child {
    font-size: 3rem;
  }

  .wrapper-two > div:first-child > p {
    font-size: 1.5rem;
    color: #000000;
    font-weight: 200;
  }

  .wrapper-vector {
    height: 500px;
  }
  
  .wrapper-invest {
    height: 500px;
  }

  .wrapper-invest > .overlay-invest {
    padding: 1rem;
  }

  .wrapper-invest > .overlay-invest > p {
    font-size: 1rem;
  }

  .wrapper-legacy {
    height: 330px;
  }

  .wrapper-legacy > .overlay {
    padding: 1rem;
    justify-content: flex-end;
  }

  .overlay-content {
    padding: 80px 20px 0px 0px;
  }
  
  .wrapper-legacy > .overlay  > div > p {
    font-size: 1rem;
  }

  .wrapper-legacy > .overlay  > div >  div {
    padding: 0.6rem 0px;
  }

  .wrapper-legacy > .overlay  > div >  div > p {
    font-size: 0.8rem;
  }

  .wrapper-legacy > .overlay  > div > button {
    font-size: 0.8rem;
    border-radius: 0.5rem;
    padding: 0.4rem 0.8rem;
    margin-top: 0.5rem;
  }

  .wrapper-quality {
    height: 160px;
    padding: 1rem;
  }

  .wrapper-quality > p, .wrapper-project > p {
    font-size:  1.4rem;
  }

  .wrapper-data {
    flex-direction: column;
    height: 300px;
    padding: 1rem;
    gap: 1rem;
  }

  .wrapper-data > div:first-child {
    order: 2;
  }

  .wrapper-data > div:last-child {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem;
    order: 1;
  }

  .wrapper-data > div > div  {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .wrapper-data > div > div p:nth-child(odd) {
    font-weight: 300;
    font-size: 2rem;
  }

  .wrapper-data > div > div p:nth-child(even) {
    font-size: 0.8rem;
    font-weight: 200;
    margin-bottom: 0rem;
  }

  .image-wrapper-rect {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }

  .enterprise-vahlis {
    height: 150px;
    padding: 1rem;
  }

  .enterprise-vahlis > p:first-child {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  .enterprise-slide  > img {
    width: 80px;
    height: 60px;
  }

  .say-vahlis {
    padding: 1rem;
    height: 340px;
  }

  .say-vahlis > p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

