.wrapper-one-vahlis {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.wrapper-one-vahlis .bg-video,
.wrapper-one-vahlis .bg-fallback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.wrapper-one-vahlis .bg-fallback {
  display: none;
  background-image: url('/images/image-top-vahlis.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper-one-vahlis .overlay-top-vahlis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
     rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.9) 100%
    );
   z-index: 1;
   padding: 5rem;
   padding-top: 0px;
}

.wrapper-one-vahlis .overlay-top-vahlis > * {
  position: relative;
  z-index: 2;
}

.wrapper-one-vahlis > .overlay-top-vahlis > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.wrapper-one-vahlis > .overlay-top-vahlis > div:last-child > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-one-vahlis > .overlay-top-vahlis > div:nth-child(2) p:first-child {
  border-top: solid 2px #CA8A2A;
  font-size: 2rem;
  padding: 0.3rem 0px 0.5rem 0px;
  font-weight: 400;
  color: #FFFFFF;
}

.wrapper-one-vahlis > .overlay-top-vahlis > div:nth-child(2) p {
  font-size: 1.2rem;
  font-weight: 200;
  color: #FFFFFF;
}

.wrapper-history  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 700px;
}

.wrapper-history > div:first-child > img {
  height: 700px;
}

.wrapper-history > div:last-child {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 2rem;
  gap: 1rem;
}

.wrapper-history > div > div > p {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 200;
}

.wrapper-who {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 600px;
  padding: 5rem;
  color: white;
  overflow: hidden;
}

.wrapper-who .bg-video,
.wrapper-who .bg-fallback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.wrapper-who .bg-fallback {
  display: none;
  background-image: url('/images/image-who.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper-who .overlay-who {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem;
}

.wrapper-who > .overlay-who > div  {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.wrapper-who > .overlay-who > div > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
 }

  .wrapper-who > .overlay-who > div > div > div:first-child {
    gap: 1rem;
    margin-bottom: 1rem;
  }

 .wrapper-who > .overlay-who > div > div > div:last-child {
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
 }

 .wrapper-who > .overlay-who > div > div > div:first-child > p {
  font-size: 2.2rem;
  color: #FFFFFF;
  font-weight: 400;
}

 .wrapper-who > .overlay-who > div > div > div:last-child > p {
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: 200;
 }

 .wrapper-mission {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 530px;
  padding: 5rem;
  background-color: #ffffff;
}

.wrapper-mission > div > p:first-child {
  border-top: solid 2px #CA8A2A;
  font-size: 2rem;
  color: #000000;
}

.wrapper-mission > div:first-child  {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 4rem;
  position: absolute;
  padding:  0px 5rem;
  top: -30px;
}

.wrapper-mission > div:first-child > div {
  border: solid 1px #000000;
  padding: 5rem 1.8rem;
  border-radius: 1.6rem;
  background-color: #ffffff;
  z-index: 2;
  box-shadow: inset 0 36px 20px -15px rgba(0,0,0,0.74);
}

.wrapper-mission > div:first-child > div > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.wrapper-mission > div:first-child > div > div > p {
  font-size: 2.2rem;
  color: #000000;
  font-weight: 400;
}

.wrapper-mission > div:first-child > div > p {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 200;
}

.wrapper-timeline-one,
.wrapper-timeline-two,
.wrapper-timeline-three {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 900px;
}

.wrapper-timeline-one > div > img,
.wrapper-timeline-two > div > img,
.wrapper-timeline-three > div > img {
  width: 50%;
  height: 900px;
}

.wrapper-timeline-one > div,
.wrapper-timeline-two > div,
.wrapper-timeline-three > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}

.wrapper-timeline-one > div > div,
.wrapper-timeline-two > div > div,
.wrapper-timeline-three > div > div {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.wrapper-timeline-one > div > div::-webkit-scrollbar,
.wrapper-timeline-two > div > div::-webkit-scrollbar,
.wrapper-timeline-three > div > div::-webkit-scrollbar {
  display: none;
}

.wrapper-timeline-one > div > div > div,
.wrapper-timeline-two > div > div > div,
.wrapper-timeline-three > div > div > div {
  display: flex;
  flex-direction: row;
  padding: 3rem 10rem 3rem 0.2rem;
  border-left: #000000 solid 2px;
  margin-left: 8rem;
}

.wrapper-timeline-one > div > div > div > div:first-child,
.wrapper-timeline-two > div > div > div > div:first-child,
.wrapper-timeline-three > div > div > div > div:first-child {
  padding: 0.6rem;
}

.wrapper-timeline-one > div > div > div > div:last-child > p,
.wrapper-timeline-two > div > div > div > div:last-child > p,
.wrapper-timeline-three > div > div > div > div:last-child > p {
  color: #000000;
  font-weight: 200;
}

.wrapper-timeline-one > div > div > div > div:last-child > p:first-child,
.wrapper-timeline-two > div > div > div > div:last-child > p:first-child,
.wrapper-timeline-three > div > div > div > div:last-child > p:first-child{
  color: #000000;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 1336px) {
  .wrapper-one-vahlis {
    height: 100vh;
  }

  .wrapper-history  {
    height: 600px;
  }

  .wrapper-history > div:first-child > img {
    height: 600px;
  }

  .wrapper-history > div > div > p {
    font-size: 1.3rem;
  }
}

@media (max-width: 900px) {
  .wrapper-one-vahlis {
    height: 100vh;
  }

  .wrapper-one-vahlis > .overlay-top-vahlis > div:nth-child(2) p:first-child {
    font-size: 1.6rem;
  }

  .wrapper-one-vahlis > .overlay-top-vahlis > div:nth-child(2) p {
    font-size: 1rem;
    font-weight: 200;
  }

  .wrapper-one-vahlis .overlay-top-vahlis  {
    padding: 0px 3rem;
  }

  .wrapper-history  {
    height: 400px;
  }

  .wrapper-history > div:first-child > img {
    height: 400px;
  }

  .wrapper-history > div > div > p {
    font-size: 1rem;
  }

  .wrapper-who {
    height: 300px;
  }

  .wrapper-who > .overlay-who > div > div > div:first-child {
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .wrapper-who > .overlay-who > div > div > div:first-child > p {
    font-size: 1.4rem;
  }

  .wrapper-who > .overlay-who {
    padding: 3rem;
  }

  .wrapper-who > .overlay-who > div > div > div:last-child > p {
    font-size: 0.8rem;
  }

  .wrapper-mission {
    padding: 3rem;
    height: 400px;
  }

  .wrapper-mission > div:first-child  {
    padding:  0px 3rem;
    top: -20px;
    justify-content: space-between;
  }

  .wrapper-mission > div:first-child > div {
    padding: 4.5rem 1.4rem;
    border-radius: 1.2rem;
    width: 230px;
    box-shadow: inset 0 36px 15px -20px rgba(0,0,0,0.74);
  }

  .wrapper-mission > div:first-child > div > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .wrapper-mission > div:first-child > div > div > p {
    font-size: 1.8rem;
  }

  .wrapper-mission > div:first-child > div > p {
    font-size: 0.9rem;
  }

  .wrapper-mission > div > p:first-child {
    font-size: 1.6rem;
  }

  .wrapper-timeline-one,
  .wrapper-timeline-two,
  .wrapper-timeline-three {
    height: 600px;
  }

  .wrapper-timeline-one > div > img,
  .wrapper-timeline-two > div > img,
  .wrapper-timeline-three > div > img {
    width: 40%;
    height: 600px;
  }

  .wrapper-timeline-one > div > div > div,
  .wrapper-timeline-two > div > div > div,
  .wrapper-timeline-three > div > div > div {
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem 1rem 0.2rem;
    border-left: #000000 solid 2px;
    margin-left: 2rem;
  }

  .wrapper-timeline-one > div > div > div > div:first-child,
  .wrapper-timeline-two > div > div > div > div:first-child,
  .wrapper-timeline-three > div > div > div > div:first-child {
    padding: 0.4rem;
  }

  .wrapper-timeline-one > div > div > div > div:last-child > p,
  .wrapper-timeline-two > div > div > div > div:last-child > p,
  .wrapper-timeline-three > div > div > div > div:last-child > p {
    font-size: 0.8rem;
  }

  .wrapper-timeline-one > div > div > div > div:last-child > p:first-child,
  .wrapper-timeline-two > div > div > div > div:last-child > p:first-child,
  .wrapper-timeline-three > div > div > div > div:last-child > p:first-child{
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
  }
}

@media (max-width: 360px) {
  .wrapper-one-vahlis {
    height: 100vh;
  }

  .wrapper-one-vahlis .overlay-top-vahlis {
    padding: 1rem;
  }

  .wrapper-one-vahlis .overlay-top-vahlis > div:nth-child(2) p:first-child {
    font-size: 1.4rem;
  }

  .wrapper-one-vahlis .overlay-top-vahlis > div:nth-child(2) p {
    font-size: 1rem;
  }

  .wrapper-history  {
    height: 600px;
    flex-direction: column;
  }

  .wrapper-history > div:first-child > img {
    width: 100%;
    height: 350px;
  }

  .wrapper-history > div:first-child {
    order: 2;
  }

  .wrapper-history > div:last-child {
    padding: 1rem;
    order: 1;
  }

  .wrapper-history > div > div > p {
    font-size: 0.75rem;
  }

  .wrapper-who {
    height: 600px;
  }

  .wrapper-who > .overlay-who {
    padding: 1rem;
  }

  .wrapper-who > .overlay-who > div  {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 0rem;
  }

   .wrapper-who > .overlay-who > div {
    align-items: center;
    justify-content: center;
    gap: 4rem
   }

  .wrapper-mission {
    height: 900px;
    padding: 1rem;
  }

  .wrapper-mission > div:first-child  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0px;
    padding: 3rem 1rem;
    gap: 3rem
  }

  .wrapper-mission > div:first-child > div {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 200px;
    padding: 1.5rem;
  }
}




 
